# Rules for nat
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o br1 -p udp -m udp --dport 68 -j CHECKSUM --checksum-fill
COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A POSTROUTING -s {{ DC_IP_RANGE }} ! -d {{ DC_IP_RANGE }} -p tcp -j MASQUERADE --to-ports 1024-65535
-A POSTROUTING -s {{ DC_IP_RANGE }} ! -d {{ DC_IP_RANGE }} -p udp -j MASQUERADE --to-ports 1024-65535
-A POSTROUTING -s {{ DC_IP_RANGE }} ! -d {{ DC_IP_RANGE }} -j MASQUERADE
COMMIT

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT

# Give access to SSH port of the DC API server
-A INPUT -s  DC_API_SERVER_IP -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT

# VM ports open to the world (Select the port range for capsules)
-A INPUT -p tcp --dport 16000:16079 -j ACCEPT
#Give access to Secured services and DC API
# Secure service
-A INPUT -s SECURED_SERVER_IP -p tcp --dport SECURED_SERVICE_PORT -j ACCEPT
# DC API
-A INPUT -s DC_API_SERVER_IP -p tcp --dport DC_API_PORT -j ACCEPT
# Reject everything else
#
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -d {{ DC_IP_RANGE }} -j ACCEPT
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
